body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;

	font-size: large;
	font-family: monospace;

	color: white;
	background-color: #1f1f1f;

	flex-flow: column wrap;
}

noscript {
	position: fixed;

	background-color: black;
	color: white;
	text-align: center;

	border: 0.2em solid black;
	box-shadow: 0 10px 10px black;
}
noscript > * {
	border: 0.2em dashed #ffe94b;

	display: block;
	margin: 0;
	padding: 0.5em;
}

label, button {
	margin-top: 1em;
}

label {
	display: flex;
	align-items: center;
}

input, button {
	font: inherit;
}

input[type = "color"] {
	width:  1.5em;
	height: 1.5em;
	border-radius: 0;
	padding: 0;
}
input[type = "color"]:hover  {
	cursor: pointer;
}

input[type = "number"] {
	width: 3.5em;
}

.centering {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-right {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
}

#canvas {
	background-color: #aaa;
	border: 2px solid black;
}

#draw-button {
	width: 8em;
}

#configuration-division {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
