/* TODO: use variables */
/* TODO: use `em` where `px` is used */

body {
	display: flex;
	flex-flow: row nowrap;

	width:  100vw;
	height: 100vh;

	padding: 0;
	margin:  0;

	color: #fff;
	font: medium sans-serif;
}

/* i might want to re-style this since it looks
   out of place with the rest of the page */
noscript {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;

	width:  100%;
	height: 100%;

	background-color: #000a;
	color: #fff;

	text-align: center;
}
noscript > * {
	display: block;

	width: auto;

	margin: 0;
	padding: 0.5em;

	background-color: #222;
	color: #ffe94b;

	border: 0.125em solid #ffe94b;
	box-shadow: 0 1em 1em 0.5em #000;

	font-size: 1.25rem;
}

#controls-division {
	display: inline-block;

	z-index: 1;

	min-width: 16em;

	padding: 1em;

	overflow-y: scroll;

	background-color: #222;

	border-right: 1px solid #000;
	box-shadow: 0.1em 0 0.4em #000;
}

#canvas-division {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	z-index: 0;

	height: 100%;

	overflow: scroll;

	background-color: #444;
}

fieldset {
	padding: 0;
	margin: 1.5em 0 0 0;

	border: none;
}

legend, label {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 2em;

	padding: 0;
	margin:  0;
}
legend {
	border-bottom: 1px solid #888;

	font-weight: bold;
}
label {
	margin-top: 0.5em;
}

button, input {
	height: 2em;

	padding: 0;
	margin:  0;

	border: 1px solid #000;
	border-radius: 0;

	background-color: #444;
	color: #fff;

	font-size: medium;
	font-family: inherit;
}
button {
	width: 100%;
}
input[type = "color"], input[type = "checkbox"] {
	width: 2em;
}

button:hover, input:hover {
	background-color: #666;
}
button:active, input:active {
	background-color: #aaa;
}
button:focus, input:focus {
	outline: 1px solid #fff;
}
input[type = "number"]:focus, input[type = "number"]:active {
	background-color: #444;
}

input[type = "number"] {
	width: 5em;
	height: calc(2em - 2px);

	text-align: right;
}

input[type = "checkbox"] {
	appearance: none;
}
input[type = "checkbox"]:checked {
	background-color: #fff;
	background-image: url("check.svg");
	background-size: contain;
}
input[type = "checkbox"]:checked:hover {
	background-color: #aaa;
}

#color-swapper {
	width: auto;

	padding: 0 0.5em;
	margin-bottom: 0.25em;
}
