:root {
	--input-height: 2em;
	--border-width: 0.125em;

	--text-lightness: 100;

	--base-lightness: 12.5;
	--base-lightness-step: 12.5;
}

body {
	display: flex;
	flex-flow: row nowrap;

	width:  100vw;
	height: 100vh;

	padding: 0;
	margin:  0;

	color: hsl(none none var(--text-lightness));
	font: medium sans-serif;
}
@media (orientation: portrait) {
	body {
		flex-direction: column-reverse;
	}
}

/* i might want to re-style this since it looks
   out of place with the rest of the page */
noscript {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;

	width:  100%;
	height: 100%;

	background-color: #000a;

	text-align: center;
}
noscript > * {
	display: block;

	width: auto;

	margin: 0;
	padding: 0.5em;

	background-color: hsl(none none var(--base-lightness));
	color: #ffe94b;

	border: 0.125em solid #ffe94b;
	box-shadow: 0 1em 1em 0.5em black;

	font-size: 1.25rem;
}

#controls-division {
	display: inline-block;

	z-index: 1;

	min-width: 16em;
	min-height: 50%;

	padding: 1em;

	overflow-y: scroll;

	background-color: hsl(none none var(--base-lightness));

	border-width: 0;
	border-right-width: var(--border-width);
	border-color: hsl(none none
		calc(100 - var(--text-lightness)));
	border-style: solid;
	box-shadow: 0 0 0.4em black;
}
@media (orientation: portrait) {
	#controls-division {
		border-right-width: 0;
		border-top-width: var(--border-width);
	}
}
@media print {
	#controls-division {
		display: none;
	}
}

#canvas-division {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	z-index: 0;

	height: 100%;

	overflow: scroll;

	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 1));
}

fieldset {
	padding: 0;
	margin: calc(var(--input-height) * 3/4) 0 0 0;

	border: none;
}

legend, label {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: var(--input-height);

	padding: 0;
	margin:  0;
}
legend {
	border-bottom: var(--border-width) solid;
	border-bottom-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 4));

	font-weight: bold;
}
label {
	margin-top: calc(var(--input-height) / 4);
}

button, input {
	height: var(--input-height);

	padding: 0;
	margin:  0;

	border: var(--border-width) solid;
	border-color: hsl(none none
		calc(100 - var(--text-lightness)));
	border-radius: 0;

	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 1));
	color: inherit;

	font-size: 1rem;
	font-family: inherit;
}
button {
	width: 100%;
}
input[type = "color"], input[type = "checkbox"] {
	width: var(--input-height);
}

button:hover, input:hover {
	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 2));
}
button:active, input:active {
	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 4));
}
button:focus, input:focus {
	outline: var(--border-width) solid hsl(none none var(--text-lightness));
}
input[type = "number"]:focus, input[type = "number"]:active {
	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 1));
}

input[type = "number"] {
	width: 5em;
	height: calc(var(--input-height) - 2px);

	padding: 0 0.5em 0 0.5em;

	text-align: right;
}

input[type = "checkbox"] {
	appearance: none;
}
input[type = "checkbox"]:checked {
	background-color: hsl(none none var(--text-lightness));
	background-image: url("check.svg");
	background-size: contain;
}
input[type = "checkbox"]:checked:hover {
	background-color: hsl(none none
		calc(var(--base-lightness) + var(--base-lightness-step) * 4));
}

legend > button {
	width: auto;

	padding: 0 calc(var(--input-height) / 4);
	margin-bottom: 0.25em;
}
